{% extends 'food/base.html'%}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		{% block body %}
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<img
						src="{{ object.item_image.url }}"
						class="card"
						alt="{{ object.item_name }}" />
				</div>
				<div class="col-md-6">
					<h1>{{ object.item_name }}</h1>
					<h2>{{ object.item_desc }}</h2>
					<h3>{{ object.item_price }}</h3>
					<a href="{% url 'food:delete_item' object.id %}">Delete Item</a>
				</div>
			</div>
		</div>
		{% endblock %}
	</body>
</html>
